.imageStack {
    content: ' ';
    clear: both;
}

.imageStackItemLeft {
    float: left;
    width: 50%;
    margin-right: -100%;
    margin-left: 5%;
    position: relative;
    z-index: 1;
}

.imageStackItemRight {
    float: right;
    position: relative;
    width: 50%;
    margin-right: 5%;
    z-index: 2;
}