@charset "utf-8";

$blue:hsl(217, 71%, 53%);
$bronze: #CD7F32;
$silver: silver;
$gold: gold;
$hof: #8A2BE2;

$danger: #FF0000;
$link: #FF9E00;
$info: #B0FF00;
$success: #00FF00;

$tabs-link-active-color: $blue;

$divider-margin-size: 10px;
$box-padding: 5px;
$panel-heading-padding: 0.6em 0.8em;
$panel-margin: 1em;
$panel-heading-size: 1em;
$navbar-item-hover-color: $blue;

.HOF {
    background-color: $hof;
    color: white;
}
.Gold {
    background-color: $gold;
    color: white;
}
.Silver {
    background-color: $silver;
    color: white;
}
.Bronze {
    background-color: $bronze;
    color: white;
}
.Yes {
    background-color: $bronze;
    color: white;
}

.tag {
    &.HOF {
        background-color: $hof;
        color: white;
    }
    &.Gold {
        background-color: $gold;
        color: white;
    }
    &.Silver {
        background-color: $silver;
        color: white;
    }
    &.Bronze {
        background-color: $bronze;
        color: white;
    }
    &.Yes {
        background-color: $bronze;
        color: white;
    }
}

#player-link {
    cursor: pointer;
    &:hover {
        color: black;
        font-weight: bold;
    }
}

.panel-block {
    .panel-list {
        height: 150px;
        overflow-y: auto;
        padding-top: 2px;
        .panel-item {
            cursor: pointer;
            width: 100%;
            padding-left: 5px;
            padding-bottom: 5px;
            padding-top: 2px;

            &.hover {
                background-color: gray;
            }
        }
    }
}

@import "../node_modules/bulma/bulma.sass";
@import "@creativebulma/bulma-divider";