@charset "utf-8";
@import "../node_modules/bulma/sass/utilities/initial-variables.sass";

//custom variables
$bronze: #CD7F32;
$silver: silver;
$gold: gold;
$hof: #8A2BE2;
$logo-color: #ED1B24;

//global variables
$danger: #FF0000;
$link: #FF9E00;
$info: #B0FF00;
$success: rgb(0, 190, 0);
$primary: $logo-color;

//bulma component variables
$divider-margin-size: 10px;
$box-padding: 5px;
$navbar-item-hover-color: $blue;
$tabs-link-active-color: $blue;


@media only screen and (max-width: 600px) {
    $gap: 16px;
}


@media only screen and (min-width: 760px) {
    .column {
        &.is-badge {
            width: 13% !important;
        }
    }
}

@media only screen and (min-width: 1400px) {
    .column {
        &.is-badge {
            width: 8% !important;
        }
    }

    .container {
        &.is-fluid {
            max-width: 1600px !important;
        }
    }
}

.HOF {
    background-color: $hof;
    color: white;
}
.Gold {
    background-color: $gold;
    color: white;
}
.Silver {
    background-color: $silver;
    color: white;
}
.Bronze {
    background-color: $bronze;
    color: white;
}
.Yes {
    background-color: $bronze;
    color: white;
}

.tag {
    &.HOF {
        background-color: $hof;
        color: white;
    }
    &.Gold {
        background-color: $gold;
        color: white;
    }
    &.Silver {
        background-color: $silver;
        color: white;
    }
    &.Bronze {
        background-color: $bronze;
        color: white;
    }
    &.Yes {
        background-color: $bronze;
        color: white;
    }
}

#player-link {
    cursor: pointer;
    &:hover {
        color: $black;
        font-weight: bold;
    }
}

.container {
    &.is-scrollable {
        overflow-y: auto;
        overflow-x: hidden;
        height: 150px;
    }
}

@font-face {
    font-family: 'Rajdhani';
    src: url("/fonts/Rajdhani-Regular.ttf");
    src: url("/fonts/Rajdhani-SemiBold.ttf");
}

.total_badges_style {
    font-family: "Rajdhani";
	font-weight: 700;
	font-size: 1.7em;
	color: #f0f0f0;
	text-shadow: 0px 1px 7px #404040;
	margin-top: 0.1em;
}

@import "../node_modules/bulma/sass/utilities/functions.sass";
@import "../node_modules/bulma/sass/utilities/derived-variables.sass";
@import "../node_modules/bulma/sass/utilities/controls.sass";
@import "../node_modules/bulma/sass/utilities/mixins.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/notification.sass";
@import "../node_modules/bulma/sass/elements/other.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/table.sass";
@import "../node_modules/bulma/sass/elements/tag.sass";
@import "../node_modules/bulma/sass/elements/image.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/level.sass";
@import "../node_modules/bulma/sass/components/list.sass";
@import "../node_modules/bulma/sass/components/pagination.sass";
@import "../node_modules/bulma/sass/components/tabs.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/components/dropdown.sass";
@import "../node_modules/bulma/sass/form/_all.sass";

@import "@creativebulma/bulma-divider";